<!doctype html>
<html lang="en">
	{% load staticfiles %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Sportfreunde PEDL Buchungssystem</title>

    <!-- Bootstrap core CSS -->
     <link rel="stylesheet" href="{% static 'kursverwaltung/css/bootstrap.min.css' %}">
     <link rel="stylesheet" href="{% static 'kursverwaltung/css/bootstrap-datepicker.min.css' %}">
     <link rel="stylesheet" href="{% static 'kursverwaltung/css/bootstrap-datetimepicker.min.css' %}">


	 <!--Bootstrape and Co.-->

    <script src="{% static 'kursverwaltung/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'kursverwaltung/js/moment-with-locales.js' %}"></script>
    <script src="{% static 'kursverwaltung/js/popper.min.js' %}"></script>
    <script src="{% static 'kursverwaltung/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'kursverwaltung/js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'kursverwaltung/js/bootstrap-datepicker.de.min.js' %}"></script>
    <script src="{% static 'kursverwaltung/js/bootstrap-datetimepicker.min.js' %}"></script>
    <script src="{% static 'kursverwaltung/js/bootstrap-datetimepicker.de.js' %}"></script>

    <!-- DataTables
    <script src="{% static 'kursverwaltung/js/jquery.dataTables.min.js' %}"></script>
    -->

    <!-- Eigenes CSS -->

    <link href="{% static 'kursverwaltung/css/main.css' %}" rel="stylesheet">

</head>

<body>
    <header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="">Schuster's
            <img src="{% static 'kursverwaltung/images/fitnessstudio.png' %}" height="35" width="35">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        {% if user.is_authenticated %}
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="{% url 'kurs_liste'%}">Kurse</a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="{% url 'kunden_liste'%}">Kunden</a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="{% url 'buchungen_liste'%}">Buchungen</a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="{% url 'trainer_liste'%}">Trainer</a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="{% url 'raum_liste'%}">Räume</a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="{% url 'zertifizierungen_liste'%}">Zertifizierungen</a>
                  </li>
                </ul>
                <a class="btn btn-outline-danger my-2 my-sm-0" href="{% url 'logout'%}">Logout</a>
            </div>
        {% else %}
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="{% url 'kurs_liste'%}">Kurse</a>
                    </li>
                </ul>
                <a class="btn btn-outline-success my-2 my-sm-0" href="{% url 'login'%}">Login</a>
            </div>
        {% endif %}
        </nav>
    </header>



    <main>
        {% block content %}<!-- Platzhalter -->{% endblock %}
    </main>

    <footer class="footer">
      <div class="container">
        <span class="text-muted">
            <p></p>
            <p>Kursverwaltungssystem der Sportschule Schuster's</p>
            <p align="right">
                Made by <img src="{% static 'kursverwaltung/images/Sportfreunde Wide.jpeg' %}" height="30" width="120">
            </p>
        </span>
      </div>
    </footer>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="{% static 'kursverwaltung/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'kursverwaltung/js/moment-with-locales.js' %}"></script>
    <script src="{% static 'kursverwaltung/js/popper.min.js' %}"></script>
    <script src="{% static 'kursverwaltung/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'kursverwaltung/js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'kursverwaltung/js/bootstrap-datepicker.de.min.js' %}"></script>
    <script src="{% static 'kursverwaltung/js/bootstrap-datetimepicker.min.js' %}"></script>
    <script src="{% static 'kursverwaltung/js/bootstrap-datetimepicker.de.js' %}"></script>
  </body>
</html>
