{% extends "kursverwaltung/base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="container">
        {% if user.is_authenticated %}
            <h1>Buchungen</h1>

                {% if buchungen_liste %}
                    <table id="dataTable" class="display table-responsive" style="width:100%">
                        <thead>
                            <tr>
                                <th>Aktion</th>
                                <th>Datum</th>
                                <th>Kurs-Nr.</th>
                                <th>Kurs</th>
                                <th>Kunde</th>
                                <th>Trainer</th>
                            </tr>
                        </thead>
                            <tbody>
                                {% for buchung in buchungen_liste %}
                                    <tr>
    									<td>
                                            <a href="{% url 'buchung_aktualisieren' pk=buchung.id %}">
                                                <img src="{% static 'kursverwaltung/ico/edit.svg' %}"
                                                title="Buchung ändern"
                                                height="20" width="20"
                                                >
                                            </a>
                                            <a href="{% url 'buchung_entfernen' pk=buchung.id%}">
                                                <img src="{% static 'kursverwaltung/ico/delete.svg' %}"
                                                title="Buchung entfernen"
                                                height="20" width="20"
                                                >
                                            </a>
                                        </td>
                                        <td>{{buchung.datum|date:'d.m.Y'}}</td>
                                        <td>{{buchung.kurs.id}}</td>
                                        <td>
                                            <a href="{% url 'kurs_details' pk=buchung.kurs.id %}"</a>{{buchung.kurs.titel}}
                                        </td>
                                        <td>
                                            <a href="{% url 'kunde_details' pk=buchung.kunde.id %}">{{buchung.kunde}}</a>
                                        </td>
                                        <td>
                                            {% if trainer_liste %}
                                                {% for trainer in trainer_liste %}
                                                    {% if trainer.id == buchung.kurs.trainer.id %}
                                                        <a href="{% url 'trainer_details' pk=trainer.id %}">{{ trainer.nachname }}, {{trainer.vorname}}</a>
                                                    {% endif %}
                                                {% endfor %}
                                            {% else %}
                                                <p>keine Trainer zugeordnet</p>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                    </table>
                {% else %}
                    <p>Es sind aktuell keine Buchungen verfügbar.</p>
                {% endif %}
        </div>
        <div class="container">
            <p>
            <a href="{% url 'buchung_erstellen' %}" class="btn btn-primary">Buchung hinzufügen</a>
            <a href="{% url 'index' %}" class="btn btn-secondary">Zurück</a>
            </p>
        </div>
    {% else %}
        <div style="color:red">
            <h2>Fehler bei der Authentifizierung</h2>
            <p>Sie dürfen diese Seite nicht anzeigen.</p>
            <p>Bitte melden Sie sich an.</p>
        </div>
    {% endif %}

    <script>
    $.noConflict();
    jQuery(document).ready( function ($)
    {
        $('#dataTable').DataTable( {
                "language": {
                    //"url": "/kursverwaltung/static/lokale/dataTables.german.lang"

                            "sEmptyTable":      "Keine Daten in der Tabelle vorhanden",
                            "sInfo":            "_START_ bis _END_ von _TOTAL_ Einträgen",
                            "sInfoEmpty":       "Keine Daten vorhanden",
                            "sInfoFiltered":    "(gefiltert von _MAX_ Einträgen)",
                            "sInfoPostFix":     "",
                            "sInfoThousands":   ".",
                            "sLengthMenu":      "_MENU_ Einträge anzeigen",
                            "sLoadingRecords":  "Wird geladen ..",
                            "sProcessing":      "Bitte warten ..",
                            "sSearch":          "Suchen",
                            "sZeroRecords":     "Keine Einträge vorhanden",
                            "oPaginate": {
                                "sFirst":       "Erste",
                                "sPrevious":    "Zurück",
                                "sNext":        "Nächste",
                                "sLast":        "Letzte"
                            },
                            "oAria": {
                                "sSortAscending":  ": aktivieren, um Spalte aufsteigend zu sortieren",
                                "sSortDescending": ": aktivieren, um Spalte absteigend zu sortieren"
                            },
                            "select": {
                                "rows": {
                                    "_": "%d Zeilen ausgewählt",
                                    "0": "",
                                    "1": "1 Zeile ausgewählt"
                                }
                            },
                            "buttons": {
                                "print":    "Drucken",
                                "colvis":   "Spalten",
                                "copy":     "Kopieren",
                                "copyTitle":    "In Zwischenablage kopieren",
                                "copyKeys": "Taste <i>ctrl</i> oder <i>\u2318</i> + <i>C</i> um Tabelle<br>in Zwischenspeicher zu kopieren.<br><br>Um abzubrechen die Nachricht anklicken oder Escape drücken.",
                                "copySuccess": {
                                    "_": "%d Spalten kopiert",
                                    "1": "1 Spalte kopiert"
                                }
                            }
                        }
                });
    } );
    </script>
{% endblock %}
