{% extends "kursverwaltung/base_listen.html" %}
{% load staticfiles %}

{% block content %}
    <div class="container">
        <h1>Buchungen</h1>
        <div class="table-responsive">
            {% if buchungen_liste %}
                <table class="table table-bordered table-hover ">
                    <thead>
                        <tr>
                            <th>Aktion</th>
                            <th>Datum</th>
                            <th>Kurs-Nr.</th>
                            <th>Kurs</th>
                            <th>Kunde</th>
                            <th>Trainer</th>
                        <tr>
                    </thead>
                    {% for buchung in buchungen_liste %}
                        <tbody>
                            <tr>
                                <tr>
                                    <td >
                                        <a href="{% url 'buchung_aktualisieren' pk=buchung.id %}">
                                            <img src="{% static 'kursverwaltung/ico/edit.svg' %}"
                                            title="Buchung ändern"
                                            height="20" width="20"
                                            >
                                        </a>
                                        <a href="{% url 'buchung_entfernen' pk=buchung.id %}">
                                            <img src="{% static 'kursverwaltung/ico/delete.svg' %}"
                                            title="Buchung entfernen"
                                            height="20" width="20"
                                            >
                                        </a>
                                    </td>
                                <td>{{buchung.datum|date:'d.m.Y'}}</td>
                                <td>{{buchung.kurs.id}}</td>
                                <td>
                                    <a href="{% url 'kurs_details' pk=buchung.kurs.id %}"</a>{{buchung.kurs.titel}}
                                </td>
                                <td>{{buchung.kunde}}</td>
                                <td>
                                    {% if trainer_liste %}
                                        {% for trainer in trainer_liste %}
                                            {% if trainer.id == buchung.kurs.trainer.id %}
                                                {{ trainer.nachname }}, {{trainer.vorname}}
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        <p>keine Trainer zugeordnet</p>
                                    {% endif %}
                                </td>
                            </tr>
                        </tbody>
                    {% endfor %}
                </table>
    {% else %}
        <p>Es sind aktuell keine Buchungen verfügbar.</p>
    {% endif %}
    <div class="container">
        <p>
        <a href="{% url 'buchung_erstellen' %}" class="btn btn-primary">Buchung hinzufügen</a>
        <a href="{% url 'index' %}" class="btn btn-secondary">Zurück</a>
        </p>
    </div>
{% endblock %}
