{% extends "kursverwaltung/base.html" %}
{% load staticfiles %}
<!-- Custom styles for this site -->

{% block content %}

<div class="container">
    <p><img src="{% static 'kursverwaltung/images/fitnessstudio.png' %}" height="100" width="100"></p>
    <p>
        Kursverwaltungssystem von Sportschule Schuster's.
    <p>
    <p>
        Made by <img src="{% static 'kursverwaltung/images/Sportfreunde Wide.jpeg' %}" height="50" width="200">
    </p>

    <p>
        Dies wird mal eine Übersicht...oder hier wir direkt zur Kursübersicht verlinkt ?!
    </p>
</div>

{% endblock %}
