{% extends "kursverwaltung/base.html" %}

<!-- Custom styles for this site -->

{% block content %}
<div class="container">
    <h1>Kunden Details</h1>
    <table class="table table-bordered table-responsive">
        <tr>
            <th>
                Trainer-ID:
            </th>
            <td>
                {{ object.id}}
            </td>
        </tr>
        <tr>
            <th>
                Nachname:
            </th>
            <td>
                {{ object.nachname}}
            </td>
        <tr>
            <th>
                Vorname:
            </th>
            <td>
                {{ object.vorname}}
            </td>
        </tr>
        <tr>
            <th>
                Straße:
            </th>
            <td>
                {{ object.strasse}}
            </td>
        <tr>
            <th>
                Hausnummer
            </th>
            <td>
                {{ object.hausnummer}}
            </td>
        </tr>
        <tr>
            <th>
                PLZ:
            </th>
            <td>
                {{ object.plz}}
            </td>
        </tr>
        <tr>
            <th>
                Ort:
            </th>
            <td>
                {{ object.stadt}}
            </td>
        </tr>
        <tr>
            <th>
                Handyr:
            </th>
            <td>
                {{ object.handy}}
            </td>
        </tr>
        <tr>
            <th>
                Festnetz:
            </th>
            <td>
                {{ object.festnetz}}
            </td>
        </tr>
        <tr>
            <th>
                Fax:
            </th>
            <td>
                {{ object.fax}}
            </td>
        </tr>
        <tr>
            <th>
                E-Mail:
            </th>
            <td>
                {{ object.e_mail}}
            </td>
        </tr>
        <tr>
            <th>
                Ansprechpartner:
            </th>
            <td>
                {{ object.ansprechpartner}}
            </td>
        </tr>
        <tr>
            <th>
                Beschreibung:
            </th>
            <td>
                {{ object.beschreibung}}
            </td>
        </tr>
    </table>
    <a class="btn btn-secondary" href="{% url 'buchungen_liste' %}">Zurück</a>
</div>



{% endblock %}
