{% extends "kursverwaltung/base.html" %}

<!-- Custom styles for this site -->

{% block content %}
<div class=container>
    <h1>Kurs löschen</h1>
    <form method="post">{% csrf_token %}
        <p style="color:red">Wollen Sie den Kurs wirklich löschen?</p>
        <table class="table table-responsive"
            <tr>
              <th>Kurs-Nr.: </th><td> {{ object.id }}</td
            </tr>
            <tr>
                <th>Kurs: </th><td> {{ object.titel }}<td>
            </tr>
            <tr>
                <th>Trainer:</th><td> {{ object.trainer }}<td>
            </tr>
            <tr>
                <th>Datum:</th><td> {{ object.anfangszeit }} bis {{ object.endzeit }}<td>
            </tr>
        </table>
        <input class="btn btn-danger" type="submit" value="Löschen">
        <a class="btn btn-secondary" href="{% url 'kurs_liste' %}">Zurück</a>
    </form>
</div>
{% endblock %}
