{% extends "kursverwaltung/base.html" %}
{% load staticfiles %}

{% block content %}

<h1>Kurse</h1>
    {% if kurs_liste %}
        <table border=1>
            <tr>
                <th>KursID.</th>
                <th>Titel</th>
                <th>Beschreibung</th>
                <th>Anfangszeit</th>
                <th>Endzeit</th>
                <th>Raum</th>
                <th>Trainer</th>
                <th>Teilnehmerzahl</th>
                <th>Max. Teilnehmer</th>
                <th>Kursgebühr</th>
            <tr>
            {% for kurs in kurs_list %}
                <tr>
                    <td>{{kurs.id}}</td>
                    <td><a href="/kursverwaltung/kurse/{{ kurs.id }}/">{{ kurs.titel}}</a></td>
                    <td>{{kurs.id}}</td>
                    <td>{{kurs.titel}}</td>
                    <td>{{kurs.beschreibung}}</td>
                    <td>{{kurs.anfangsdatum}} {{kurs.Anfangszeit}}</td>
                    <td>{{kurs.enddatum}} {{kurs.Endzeit}}</td>
                    <td>{{kurs.raum}}</td>
                    <td>{{kurs.trainer}}</td>
                    <td>{{kurs.teilnehmerzahl}}</td>
                    <td>{{kurs.max_teilnehmer}}</td>
                    <td>{{kurs.gebuehr}}</td>
                </tr>
        {% endfor %}
    </table>
    {% else %}
        <p>Es sind aktuell keine Kurse verfügbar.</p>
    {% endif %}

{% if user.is_authenticated %}
    <p>Angemeldete Benutzer können Kurse erstellen.</p>
    <a href="" class="btn btn-primary">Kurs hinzufügen</a>

{% endif %}

{% endblock %}
