{% extends "kursverwaltung/base.html" %}

<!-- Custom styles for this site -->

{% block content %}
<div class=container>
    <h1>Trainer löschen</h1>
    <form method="post">{% csrf_token %}
        <p style="color:red">Wollen Sie den Kunden wirklich löschen?</p>
        <p>
            {% autoescape off%}
            {{ object }}
            {% endautoescape %}
        </p>
        <input class="btn btn-danger" type="submit" value="Löschen">
        <a class="btn btn-secondary" href="{% url 'trainer_liste' %}">Zurück</a>
    </form>
</div>
{% endblock %}
