{% extends "kursverwaltung/base.html" %}
{% load staticfiles %}

{% block content %}



{% if user.is_authenticated %}
<h1>Trainer</h1>
    {% if trainer_liste %}
        <table border=1>
            <tr>
                <th>Nachname.</th>
                <th>Vorname</th>
                <th>Bemerkungen</th>
                <th>Geburtsdatum</th>
                <th>Straße</th>
                <th>Hausnummer</th>
                <th>Stadt</th>
                <th>PLZ</th>
                <th>Zertifizierungen</th>
                <th>Telefonnummer</th>
                <th>E-Mail</th>
            <tr>
        {% for trainer in trainer_liste %}
            <tr>
                <td>{{course.id}}</td>
                <td><a href="/kursverwaltung/trainer/{{ trainer.id }}/">{{ trainer.Nachname}}, {{trainer.Vorname}}</a></td>
                <td>{{trainer.nachname}}</td>
                <td>{{trainer.vorname}}</td>
                <td>{{trainer.bemerkungen}}</td>
                <td>{{trainer.geburtsdatum}}</td>
                <td>{{trainer.strasse}}</td>
                <td>{{trainer.hausnummer}}</td>
                <td>{{trainer.stadt}}</td>
                <td>{{trainer.plz}}</td>
                <td>{{trainer.zertifizierungen}}</td>
                <td>{{trainer.telefonnummer}}</td>
                <td>{{trainer.e_mail}}</td>
            </tr>
        {% endfor %}
    </table>

    {% else %}

        <p>Es sind aktuell keine Trainer verfügbar.</p>

    {% endif %}

    <p>Angemeldete Benutzer können Kurse erstellen.</p>
    <a href="" class="btn btn-primary">hinzufügen</a>

{% else %}
    <div style="color:red">
        <h2>Fehler bei der Authentifizierung</h2>
        <p>Sie dürfen diese Seite nicht anzeigen.</p>
        <p>Bitte melden Sie sich an.</p>
    </div>
{% endif %}

{% endblock %}
