{% extends "kursverwaltung/base_listen.html" %}
{% load staticfiles %}

{% block content %}
    <div class="container">
        
            <h1>Trainer</h1>
                <table class="table table-bordered table-hover " id = "dataTable">
                    <thead>
                        <tr>
                            <th>Aktion</td>
                            <th>Name</th>
                            <th>Bemerkungen</th>
                            <th>Geburtsdatum</th>
                            <th>Straße</th>
                            <th>Hausnummer</th>
                            <th>Stadt</th>
                            <th>PLZ</th>
                            <th>Zertifizierungen</th>
                            <th>Telefonnummer</th>
                            <th>E-Mail</th>
                        </tr>
                    </thead>
                {% for trainer in trainer_liste %}
                    <tbody>
                        <tr>
                            <td >
                                <a href="{% url 'trainer_aktualisieren' pk=trainer.id %}">
                                    <img src="{% static 'kursverwaltung/ico/edit.svg' %}"
                                    title="Trainer ändern"
                                    height="20" width="20"
                                    >
                                </a>
                                <a href="{% url 'trainer_entfernen' pk=trainer.id %}">
                                    <img src="{% static 'kursverwaltung/ico/delete.svg' %}"
                                    title="Trainer entfernen"
                                    height="20" width="20"
                                    >
                                </a>
                            </td>
                            <td><a href="{% url 'trainer_aktualisieren' pk=trainer.id %}"> {{ trainer.nachname}}, {{trainer.vorname}}</a></td>
                            <td>{{trainer.bemerkung}}</td>
                            <td>{{trainer.geb_datum|date:'d.m.Y'}}</td>
                            <td>{{trainer.strasse}}</td>
                            <td>{{trainer.hausnummer}}</td>
                            <td>{{trainer.stadt}}</td>
                            <td>{{trainer.plz}}</td>
                            <td>
                                {% if zertifizierungen_liste %}
                                    {% for zertifizierung in zertifizierungen_liste %}
                                        {% if zertifizierung.trainer.id == trainer.id %}
                                        <ul class="list-group">
                                            <li class="list-group-item">{{ zertifizierung.name }} ({{zertifizierung.gueltig_bis|date:'d.m.Y'}})</li>
                                        </ul>
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    <p>keine Zertifikate</p>
                                {% endif %}
                            </td>
                            <td>{{trainer.telefonnummer}}</td>
                            <td>{{trainer.e_mail}}</td>
                        </tr>
                    </tbody>
                {% endfor %}
            </table>
       
    </div>
   
    <div class="container">
        <p>
            {%if not search_tag %}
            <a href="{% url 'trainer_erstellen' %}" class="btn btn-primary">Trainer hinzufügen</a>
            <a href="{% url 'index' %}" class="btn btn-secondary">Zurück</a>
            {%else %}

            {% endif %}
        </p>
    </div>
	
	<script>
	$.noConflict();
	jQuery(document).ready( function ($) 
	{
		$('#dataTable').DataTable();
	} );
	</script>
{% endblock content %}
