{% extends "base.html" %}

{% block content %}

{% if user.is_authenticated %}

    <p>Sie sind bereits eingeloggt..</p>

    <a href="javascript:history.go(-1)" class="btn btn-secondary">back</a>
{% else %}

{% if form.errors %}
<p>Benutzername oder Password sind ungültig. Versuchen Sie es noch einmal.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Ihr Benutzer-Account ist nicht berechtigt, diese Seite anzuzeigen.
        Melden Sie sich mit einem berechtigten Benutzer-Account an.
    </p>
    {% else %}
    <p>Sie müssen sich anmelden, um diese Seite zu sehen.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<table>
    <div>
        <tr>
          <td>{{ form.username.label_tag }}</td>
          <td>{{ form.username }}</td>
        </tr>
    </div>
    <div>
        <tr>
          <td>{{ form.password.label_tag }}</td>
          <td>{{ form.password }}</td>
        <tr>
    </div>
</table>
<div>
  <input class="btn btn-primary" type="submit" value="login" />
  <a href="javascript:history.go(-1)" class="btn btn-secondary">abbrechen</a>
  <input type="hidden" name="next" value="{{ next }}" />
</div>
</form>

{% endif %}
<!--
{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">Lost password?</a></p>
-->
{% endblock %}
